@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

h1, h2, h3, h4, h5, h6, p, span, ul, li, a, label {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
}

ul, li {
    list-style-type: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1, h3, a, span {
    font-style: normal;
    font-weight: 400;
    color: #fff;
}

.main-wrapper {
    position: relative;
    height: 99.6vh;
}

.hidden {
    display: none;
}

.container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 99.6vh;
    position: relative;
}

.website {
    position: relative;
    width: 50%;
    height: 100%;
}

.website::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/img/background-hand.jpg') center center;
    background-size: cover;
    z-index: -1;
}

.blur.website::before {
    /*background: url('../assets/img/background-hand-blur.jpg') center center;*/
    /*background-size: cover;*/
}

.advertising {
    width: 50%;
    height: 100%;
    position: relative;
}

.advertising::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/img/background-fruit.jpg') no-repeat center center;
    background-size: cover;
    z-index: -1;
}

.blur.advertising::before,
.blur.website::before {
    /*background: url('../assets/img/background-fruit-blur.jpg') no-repeat center center;*/
    /*background-size: cover;*/
    transition: 0.4s;
    filter: blur(5px) brightness(85%);
}

.website__header, .advertising__header {
    margin-top: 50px;
}

.website__header a, .advertising__header a {
    font-size: 24px;
    white-space: nowrap;
    cursor: pointer;
    display: block;
}

.website__header-hidden {
    display: none;
}

.website__title, .advertising__title {
    font-size: 48px;
    display: block;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    margin-top: 340px;
}

.advertising__header a {
    text-align: right;
    position: relative;
}

.advertising__header a:before {
    content: '';
    position: absolute;
    height: 1px;
    max-width: 198px;
    width: 100%;
    background: #fff;
    bottom: -3px;
}

.advertising__header {
    margin-right: 100px;
}

.website__header a {
    text-align: left;
    position: relative;
}

.website__header a:before {
    content: '';
    position: absolute;
    height: 1px;
    max-width: 157px;
    width: 100%;
    background: #fff;
    bottom: -3px;
}

.website__header {
    margin-left: 100px;
}

/*menu*/

.menu-wrapper {
    position: absolute;
    bottom: 0;
    left: calc(50% - 91px / 2);
    z-index: 200;
}

/*menu close*/

.menu {
    background: #ffffff;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.menu:hover {
    cursor: pointer;
    transition: 0.2s ease;
    background: #f5f0f0;
}

.menu__item-list {
    padding: 28px 20px;
    width: 51px;
    height: 33px;
    display: block;
    position: relative;
}

.menu__item {
    position: absolute;
    content: '';
    width: 51px;
    height: 3px;
    background: #000;
}

.menu__item:nth-child(2) {
    margin-top: 15px;
}

.menu__item:nth-child(3) {
    margin-top: 30px;
}

/*menu close*/

.menu-open {
    background: #fff;
    position: relative;
}

.menu-open:hover {
    cursor: pointer;
    transition: 0.2s ease;
    background: #f5f0f0;
}

.menu__item-list-open {
    padding: 24px 25px;
    width: 41px;
    height: 41px;
    display: flex;
    justify-content: center;
    position: relative;
}

.menu__item-open {
    position: absolute;
    content: '';
    margin-top: 20px;
    width: 51px;
    height: 3px;
    background: #000;
}

.menu__item-open:first-child {
    transform: rotateZ(45deg);
}

.menu__item-open:last-child {
    transform: rotateZ(-45deg);
}

.hide {
    opacity: 0;
}

/*modal*/

.modal-window {
    /*top: 300px;*/
    height: 100%;
    width: 100%;
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 100vh;
    transition: 0.8s;
}

.modal {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.website-modal {
    background: url('../assets/img/background-hand-blur.jpg') center center;
    background-size: cover;
    height: 100%;
    width: 50%;
}

.advertising-modal {
    background: url('../assets/img/background-fruit-blur.jpg') center center;
    background-size: cover;
    height: 100%;
    width: 50%;
}

.modal__title {
    margin-top: 245px;
}

.modal__title span {
    font-weight: 300;
    font-size: 36px;
}

.modal__phone {
    margin-top: 55px;
    position: relative;
}

.modal__phone label {
    content: '';
    position: absolute;
    width: 300px;
    height: 1px;
    left: calc(50% - 150px);
    bottom: -3px;
    background: #fff;
}

.modal__phone-input {
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.5);
    background: transparent;
    border: 1px transparent;
}

input.modal__phone-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

input.modal__phone-input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

input.modal__phone-input::-moz-placeholder {
    color: #ffffff;
}

input.modal__phone-input:-moz-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

input.modal__phone-input:-ms-input-placeholder {
    color: rgb(255, 255, 255);
}

.modal__button {
    margin-top: 50px;
}

.modal__button-btn {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    color: #ffffff;
    font-weight: 300;
    font-size: 55px;
    border: transparent;
    background: transparent;
    cursor: pointer;
}

.modal__header {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.advertising__header-modal,
.website__header-modal {
    width: 50%;
}

@media (max-width: 850px) {
    .main-wrapper {
        /*height: 668px;*/
    }

    .container {
        flex-direction: column;
        max-width: 100%;
        height: 100%;
    }

    .website {
        width: 100%;
    }

    .advertising {
        width: 100%;
    }

    .website__header-hidden {
        display: flex;
        justify-content: space-between;
        padding: 14px 20px 0 20px;
    }

    .website__header-hidden a {
        font-size: 14px;
        position: relative;
    }

    .website__header-hidden a:before {
        content: '';
        position: absolute;
        height: 1px;
        max-width: 198px;
        width: 100%;
        background: #fff;
        bottom: -3px;
    }

    .website__header {
        display: flex;
        justify-content: space-between;
        margin: 14px 20px 0 20px;
    }


    .website__title, .advertising__title {
        font-size: 24px;
        display: block;
        text-align: center;
        white-space: nowrap;
        cursor: pointer;
    }

    .website__title {
        margin-top: 130px;
    }

    .advertising__title {
        margin-top: 155px;
    }

    .advertising__header {
        display: none;
    }

    .website__header, .advertising__header {
        display: none;
    }

    .menu-wrapper {
        left: calc(50% - 67px / 2);
    }

    .menu__item-list {
        padding: 18px 12px;
        width: 43px;
        height: 30px;
        display: block;
        position: relative;
    }

    .menu__item-list-open {
        padding: 18px 19px;
        width: 29px;
        height: 30px;
        display: flex;
        justify-content: center;
        position: relative;
    }

    .menu__item {
        position: absolute;
        content: '';
        width: 42px;
        height: 3px;
        background: #000;
    }

    .menu__item-open {
        position: absolute;
        content: '';
        margin-top: 13px;
        width: 37px;
        height: 3px;
        background: #000;
    }

    .menu__item:nth-child(1) {
        margin-bottom: 0;
    }

    .menu__item:nth-child(2) {
        margin-top: 14px;
    }

    .menu__item:nth-child(3) {
        margin-top: 28px;
    }

    .modal-window {
        /*top: 300px;*/
        height: 100%;
        max-width: 100%;
        text-align: center;
        display: none;
        opacity: 0;
        /*position: relative;*/
    }

    .website-modal {
        height: 50%;
        width: 100%;
    }

    .advertising-modal {
        height: 50%;
        width: 100%;
    }

    .modal__header {
        display: none;
    }

    .modal-window {
        max-width: 100%;
        margin: 0 auto;
    }

    .modal__title {
        width: 260px;
        margin: 240px auto 0 auto;
    }

    .modal__title span {
        font-size: 24px;
    }

    .modal__phone {
        margin-top: 45px;
    }

    .modal__button {
        margin-top: 45px;
    }

    .modal__button-btn {
        font-size: 36px;
    }

}

